<!DOCTYPE html>
<html>
<head>
  <title>Gnoibox</title>
  <%= stylesheet_link_tag    "gnoibox/application", media: "all" %>
  <%= javascript_include_tag "gnoibox/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
