-col.options.each do |option|
  =label f.object_name.gsub(/\[/, '_').delete(']'), "#{col.name}_#{option.key}" do
    =radio_button_tag "#{f.object_name}[#{col.name}]", option.key, Array(col.value).include?(option.key.to_s)
    =option.label
