-col.options.each do |option|
  =label 'inquiry_content', "#{col.name}_#{option.key}" do
    =radio_button_tag "inquiry[content][#{col.name}]", option.key, Array(col.value).include?(option.key.to_s)
    =option.label
