=f.hidden_field col.name, {value: col.station_id, data: {"station-title"=>col.to_s} ,class: "js-gn-station gn-form-column", style: "min-width:300px"}.merge( col.settings.select{|k,v| [:class, :placeholder].include? k} ).merge({required: col.required})
