#pad-wrapper
  .table-wrapper.section
    .row.head
      .col-md-10
        %h4 #{@form.label}
      .col-md-2

  %p
    %b 日付:
    = @inquiry.created_at

  -@inquiry.content.col_hash.each do |k,v|
    %p
      %b=v.label
      =v
