.breadcrumbs
  .container_12
    .grid_12
      %ul.reset
        %li
          %a.no-deco(href="/") HOME
        %li
          =image_tag "arw.png", class: "arw"
        %li
          ドリンクメニュー
        .clear

.menutab-wrap
  .container_12
    .grid_12
      .grid_4.alpha
        .menutab
          %a.no-deco(href="/tmp/menu-lunch.html")
            =image_tag "title-lunch.png", class: "title-lunch", alt: "dejeuner ランチ"
      .grid_4
        .menutab
          %a.no-deco(href="/tmp/menu-diner.html")
            =image_tag "title-diner.png", class: "title-diner", alt: "diner ディナー"
      .grid_4.omega
        .menutab.active
          =image_tag "title-drink.png", class: "title-drink", alt: "drink ドリンク"
      .clear            

%section.tab-detail
  .container_12
    .grid_12
      .bb.bb-menu.bb-drink
        %h1.bg-w75
          =image_tag "title-drink-noborder.png", class: "title-drink-noborder align-center", alt: "drink ドリンク"

%section.tile-section.menu-detail-recom
  .container_12
    %h2.red-img-title
      =image_tag "title-recommendation.png", class: "title-recommendation align-center", alt: "recommendation 旬のおすすめ"
    %ul.recom-list.reset
      %li.grid_3.bg-w75
        .recom-list-img-wrap
          =image_tag "RoseBrut.jpg", class: "recom-list-img"
        .title
          %strong.font-m Champagne Pannier Rose Brut
        %p
          淡いラズベリーピンク、生き生きした泡立ちに、華やかな香り。熟成期間の長さに由来する、まろや…
        %a.no-deco.link-more(href="/tmp/recom-detail-wine1")
          詳細を見る
          =image_tag "icon-arw.png", class: "icon-arw"
      -# %li.grid_3.bg-w75
      -#   .recom-list-img-wrap
      -#     =image_tag "RoseBrut.jpg", class: "recom-list-img"
      -#   .title
      -#     %strong.font-m Champagne Pannier Rose Brut
      -#   %p
      -#     淡いラズベリーピンク、生き生きした泡立ちに、華やかな香り。熟成期間の長さに由来する、まろや…
      -#   %a.no-deco.link-more(href="/tmp/recom-detail-wine1")
      -#     詳細を見る
      -#     =image_tag "icon-arw.png", class: "icon-arw"
      -# %li.grid_3.bg-w75
      -#   .recom-list-img-wrap
      -#     =image_tag "RoseBrut.jpg", class: "recom-list-img"
      -#   .title
      -#     %strong.font-m Champagne Pannier Rose Brut
      -#   %p
      -#     淡いラズベリーピンク、生き生きした泡立ちに、華やかな香り。熟成期間の長さに由来する、まろや…
      -#   %a.no-deco.link-more(href="/tmp/recom-detail-wine1")
      -#     詳細を見る
      -#     =image_tag "icon-arw.png", class: "icon-arw"
      -# %li.grid_3.bg-w75
      -#   .recom-list-img-wrap
      -#     =image_tag "RoseBrut.jpg", class: "recom-list-img"
      -#   .title
      -#     %strong.font-m Champagne Pannier Rose Brut
      -#   %p
      -#     淡いラズベリーピンク、生き生きした泡立ちに、華やかな香り。熟成期間の長さに由来する、まろや…
      -#   %a.no-deco.link-more(href="/tmp/recom-detail-wine1")
      -#     詳細を見る
      -#     =image_tag "icon-arw.png", class: "icon-arw"
      .clear
    %a.btn.btn-red.no-deco.pull-right(href="/tmp/recom-list")
      %span.arw 過去のおすすめを見る
    .clear

%section
  .container_12
    .grid_12
      .menu-detail-wrap
        %h2.red-img-title
          =image_tag "title-aperitif-noborder.png", class: "title-aperitif-noborder align-center", alt: "Aperitif"
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title 本日のスパークリングワイン 　Vin Mousseaux du Jour
          .pull-right
            %span.font-m.price 800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title グラスシャンパン　　Coupe de Champagne
          .pull-right
            %span.font-m.price 1000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title 本日のグラスワイン　　Verre du Vin
          .pull-right
            %span.font-m.price 600yen~
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title キール 　Kir
          .pull-right
            %span.font-m.price 600yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title キールロワイヤル  Kir Royal
          .pull-right
            %span.font-m.price 900yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title ミモザ   Mimosa
          .pull-right
            %span.font-m.menu-title 900yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title ジントニック   Gin-Tonic
          .pull-right
            %span.font-m.price 650yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title カンパリソーダ   Canpari-Soda
          .pull-right
            %span.font-m.price 650yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title カシスオレンジ   Cassis-Oranges
          .pull-right
            %span.font-m.price 650yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title 生ビール（プレミアムモルツ）   Bière
          .pull-right
            %span.font-m.price 600yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title ギネス   Guinness
          .pull-right
            %span.font-m.price 900yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title ノンアルコールビール（オールフリー） Bière sans alcool
          .pull-right
            %span.font-m.price 550yen
          .clear

      .menu-detail-wrap
        %h2.red-img-title
          =image_tag "title-SoftDrink-noborder.png", class: "title-SoftDrink-noborder align-center", alt: "Soft Drink"
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title オレンジジュース   jus d'Oranges
          .pull-right
            %span.font-m.price 500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title グレープフルーツジュース   Jus de Pamplemousse
          .pull-right
            %p.font-m.price 500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title ジンジャエール(辛口）   Ginger ale
          .pull-right
            %span.font-m.price 500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title コーラ   Coke
          .pull-right
            %span.font-m.price 500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title ウーロン茶   Thé Oolong
          .pull-right
            %span.font-m.price 500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title ミネラルウォーター   Eau Minérale
          .pull-right
            %span.font-m.price 750yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title スパークリングウォーター    Eau Gazeuse
          .pull-right
            %span.font-m.price 750yen
          .clear

      .menu-detail-wrap
        %h2.red-img-title
          =image_tag "title-cafe-noborder.png", class: "title-cafe-noborder align-center", alt: "Café"
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title コーヒー   Café
          .pull-right
            %span.font-m.price 500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title エスプレッソ    Espresso
          .pull-right
            %span.font-m.price 500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title カプチーノ    Cappuccino
          .pull-right
            %span.font-m.price 650yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title 紅茶    Thé
          .pull-right
            %span.font-m.price 500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title ハーブティー    Infusion
          .pull-right
            %span.font-m.price 500yen
          .clear

      .menu-detail-wrap
        %h2.red-img-title
          =image_tag "title-mousseaux-noborder.png", class: "title-mousseaux-noborder align-center", alt: "Vin Mousseaux"
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Blanquette de Limoux　　ブランケット・ド・リムー
            %br
            %span.menu-description モーザック90％。リンゴや柑橘類の爽やかなアロマ。モーザック特有のスパイシーさも特徴。
          .pull-right
            %span.font-m.price 3800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Crémant de Loire/Langlois　　クレマン・ド・ロワール/ラングロワ
            %br
            %span.menu-description エレガントで高品質ながら、ロワールだからできるコストパフォーマンスの高さ。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Crémant d'Alsace　　クレマン・ダルザス
            %br
            %span.menu-description 爽やかで旨みと辛味のバランスが良く上品な味わい。
          .pull-right
            %span.font-m.price 4800yen
          .clear

      .menu-detail-wrap
        %h2.red-img-title
          =image_tag "title-champagne-noborder.png", class: "title-champagne-noborder align-center", alt: "Champagne"
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Michel Furdyna　Brut Carte Blanche　　ミシェル・フルディーニャ
            %br
            %span.menu-description 上品なイースト香に透明感のある香り。しっかりした骨格と豊かなふくらみを持つ。
          .pull-right
            %span.font-m.price 7600yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Drappier Brut　　ドラピエ
            %br
            %span.menu-description 果実味豊かで、高いアロマを持つ。
          .pull-right
            %span.font-m.price 7800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Laurent Perrier Brut LP　　ローラン・ペリエ
            %br
            %span.menu-description 「エレガント」「フレッシュ」「バランスの良さ」を求め続けたメゾンのスタイル。
          .pull-right
            %span.font-m.price 8500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Besserat de Belfon Brut　　ベスラ・ド・ベルフォン
            %br
            %span.menu-description 繊細でクリーミーな泡を持つ「美食家のためのシャンパーニュ」
          .pull-right
            %span.font-m.price 8800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Moët &amp; Chamdon Brut Impérial　モエ・シャンドン ブリュット・アンぺリアル
            %br
            %span.menu-description 3種の葡萄が調和したバランスの良い、エレガントな味わい。
          .pull-right
            %span.font-m.price 9000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Andre Clouet Silver Brut Nature　　アンドレ・クルエ
            %br
            %span.menu-description グランクリュのピノノワール100％。ドサージュ・ゼロの本格派辛口。
          .pull-right
            %span.font-m.price 9800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Andre Clouet Grande Reserve Brut　　アンドレ・クルエ
            %br
            %span.menu-description こちらもグランクリュのピノ100％。上品なミネラル香にバタークリームのような芳醇さに柔らかいスパイスさを兼ね備える。
          .pull-right
            %span.font-m.price 9800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Pierre Peters Blanc de Blanc　　ピエール・ペテルス
            %br
            %span.menu-description 最高の「五つ星生産者」に輝いたレコルタン。ワイン＆スピリッツ誌で95点獲得。
          .pull-right
            %span.font-m.price 8800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Deutz Brut Classic　　ドゥーツ
            %br
            %span.menu-description 有名レストランでハウスシャンパーニュとして使用され、リッチな質感、本質を楽しむ。
          .pull-right
            %span.font-m.price 10500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Fraçoise Bedel origin'Elle　　フランソワーズ・ベデル
            %br
            %span.menu-description ピノムニエ78％。テロワールを極めて忠実に表現したスタイル。
          .pull-right
            %span.font-m.price 10000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Fraçoise Bedel Dis Vin Secret　　フランソワーズ・ベデル
            %br
            %span.menu-description 「ディ・ヴァン・スクル」とは「ワインよ、あなたの秘密を教えておくれ」の意。5～6年の瓶熟成。
          .pull-right
            %span.font-m.price 10000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Dom Perignon　　ドン・ペリニョン
            %br
            %span.menu-description 言わずと知れたシャンパーニュ。2002年ヴィンテージは凝縮感があり、魅惑的で複雑なワイン
          .pull-right
            %span.font-m.price 26000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Krug　　クリュッグ
            %br
            %span.menu-description 個性的かつ忘れがたい味わい。力強さと繊細さを持つ偉大なシャンパン。
          .pull-right
            %span.font-m.price 30000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Jacues Selosse　　ジャック・セロス
            %br
            %span.menu-description 入手困難なカリスマ、J・セロスのシャンパーニュ。華やかで長い余韻は、まさに至福の時。
          .pull-right
            %span.font-m.price 33000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title Ratafia　　ラタフィア　（甘口シャンパーニュ）
            %br
            %span.menu-description シャンパーニュ地方ではアペリティフとして広く親しまれている。良年のみ年間500本生産されている。
          .pull-right
            %span.font-m.price 7500yen
          .clear

      .menu-detail-wrap
        %h2.red-img-title
          =image_tag "title-vinblancs-noborder.png", class: "title-vinblancs-noborder align-center", alt: "Vin Blancs"      
        %h3.title
          Loire, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Vin de Pays du Val de Loire Chardonnay 2011
              %br
              ヴァン　ド　ペイ　デュ　ヴァル　ド　ロワール　シャルドネ
            %br
            %span.menu-description ナッツの香ばしい香りに、フルーティでふくよかなシャルドネ。
          .pull-right
            %span.font-m.price 2800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Muscadet Sevre et Maine Sur Lie / Chateau du Jaunay 2011
              %br
              ミュスカデ　セーブル　エ　メーヌ　シュール　リー/シャトー　デュ　ジョネ
            %br
            %span.menu-description 黄色いリンゴや白い花の若々しい香りにミネラルと清涼感が溢れる。
          .pull-right
            %span.font-m.price 3200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Petit Bourgeois Sauvignon Blanc 2011
              %br
              プティ　ブルジョワ　ソーヴィニヨン　ブラン
            %br
            %span.menu-description フレッシュかつフルーティな爽快辛口。魚介類やサラダと好相性。
          .pull-right
            %span.font-m.price 3800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Pouilly Fumé 2009 / Gitton pére et Fils
              %br
              プイィ　フュメ/ジトン　ペール　エ　フィス
            %br
            %span.menu-description 独特の燻した香りと柑橘系のアロマのパレットを持ち、生き生きとしたミネラル感と透明感のある滑らかさ。
          .pull-right
            %span.font-m.price 5500yen
          .clear

      .menu-detail-wrap
        %h3.title
          Sud Ouest, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau la Rayre 2012
              %br
              シャトー ラ レイル
            %br
            %span.menu-description 華やかでありながら爽やかなソーヴィニヨンブラン主体。
          .pull-right
            %span.font-m.price 3500yen
          .clear

      .menu-detail-wrap
        %h3.title
          Alsace, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Riesling 2008 / Agapé
              %br
              リースリング/アガぺ
            %br
            %span.menu-description 淡いグリーンイエロー。シトラス系・菩提樹の花の様な上品な香り。お手本のような辛口リースリング。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Gewurztraminer 2011 / Trimbach
              %br
              ゲヴェルツトラミネール　/トリンバック
            %br
            %span.menu-description ライチや濃厚なバラの香りが驚くほど溢れ出す。フォワグラにはもちろん、スパイシーな料理とも相性が良い。
          .pull-right
            %span.font-m.price 5200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Gewurztraminer Cuvee Laurence 1998 / Domaine Weinbach
              %br
              ゲヴェルツトラミネール　キュヴェ　ローランス/ドメーヌ　ヴァインバック
            %br
            %span.menu-description 女性3人が造る、超人気ビオディナミワイン。次女の名が付いたキュヴェ・ローランスの98年物。
          .pull-right
            %span.font-m.price 8200yen
          .clear

      .menu-detail-wrap
        %h3.title
          Bourgogne, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Bourgogne Chardonnay Vieilles Vignes 2011 / Henri Clerc
              %br
              ブルゴーニュ　シャルドネ　ヴィエイュ　ヴィーニュ/アンリ　クレール
            %br
            %span.menu-description 透明感のあるイエロー。梨やピーチに心地よいナッツの香りが広がる。
          .pull-right
            %span.font-m.price 3950yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Bourgogne Aｌigoté 2011/ Pierre Morey
              %br
              ブルゴーニュ　アリゴテ/ピエール　モレ
            %br
            %span.menu-description レモンや白い花の香りが伸び、特有の刺すような酸ではなく、優しく繊細なアリゴテ。
          .pull-right
            %span.font-m.price 4200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Macôn Villages 2010 / Albert Bichot
              %br
              マコン　ヴィラージュ/アルベール　ビショー
            %br
            %span.menu-description シャルドネの生き生きとした果実味とキレの良い酸味のバランスが上品な味わいを生み出す。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Pouilly Fuisse 2011 / Bouchard
              %br
              プイィ　ヒュイッセ/ブシャール
            %br
            %span.menu-description デリケートな樽香に調和したエレガントな果実味。テロワールのスタイルがスタイルが素直に表現されている。
          .pull-right
            %span.font-m.price 5200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chablis 2012 / Patrick Piuze
              %br
              シャブリ/パトリック　ピウズ
            %br
            %span.menu-description ブドウの出来具合によってもっとも最適な年に使用された古樽でワインを熟成させる。
          .pull-right
            %span.font-m.price 5800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Maranges 2010 / Chevrot
              %br
              マランジュ/シュブロ
            %br
            %span.menu-description ハーブ系とトロピカルフルーツを思わせる香りが広がり、濃密さと豊かなミネラルを兼ね備える。
          .pull-right
            %span.font-m.price 6500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Auxey Duresses Blanc 2005 / Agnes Paquet
              %br
              オーセイ　デュレス　ブラン/アニエス　パケ
            %br
            %span.menu-description 注目の女性醸造家。リュット・レゾネ栽培。３つ星レストランでもこぞってオンリスト。
          .pull-right
            %span.font-m.price 6800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Bourgogne Chardonnay 1997 / Etienne Sauzet
              %br
              ブルゴーニュ　シャルドネ/エチエンヌ　ソゼ
            %br
            %span.menu-description 白ワイン最高の造り手がつくるブルゴーニュ・ブラン。熟成を経ても洗練された味わい。
          .pull-right
            %span.font-m.price 7800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Auxey Duresses Blanc 2010 / Benjamin Leroux
              %br
              オーセイ　デュレス　ブラン/バンジャマン　ルルー
            %br
            %span.menu-description ブルゴーニュの新しい可能性を見せつける天才醸造家。チャーミングで淡い中に複雑さを醸し出す。
          .pull-right
            %span.font-m.price 8200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chassagne Montrachet 2011 / Olivier Leflaive
              %br
              シャサーニュ　モンラッシェ/オリヴィエ　ルフレーヴ
            %br
            %span.menu-description 熟したパインやマンゴーのアロマにスモークの香り。造り手は故ヴァンサン・ルフレーヴの甥
          .pull-right
            %span.font-m.price 8900yen
          .clear

      .menu-detail-wrap
        %h3.title
          Côte du Rhone, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Condrieu 2009 / E・Egugal
              %br
              コンドリュー/E.ギガル
            %br
            %span.menu-description ほのかに香る南国系フルーツと紅茶の香り。味わいにはコクがあり、余韻が長い。
          .pull-right
            %span.font-m.price 10000yen
          .clear

      .menu-detail-wrap
        %h3.title
          Austria
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Gruner Veltliner 2009 / Gebelsburg
              %br
              グリューナー　フェルトリーナ―/ゴベルスブルク
            %br
            %span.menu-description 厚みのあるミネラル感と柑橘系のすっきりとした果実味。和食にも合わせやすい。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Fruhroter Veltliner 2008 / Nikolaifof
              %br
              フリューローター　フェルトリーナ―/ニコライホフ
            %br
            %span.menu-description オーストリアでも珍しい土着品種。ほんのり甘みを持ったふくよかな味わい。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Riesling 2005 / Geyerhoh
              %br
              リースリング/ガイヤーホフ
            %br
            %span.menu-description 厚みのあるボディと突起したミネラル感。心地よい余韻が抜群です。
          .pull-right
            %span.font-m.price 5800yen
          .clear

      .menu-detail-wrap
        %h3.title
          Italy
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Pietracalda 2008 / Feudi san Gregrio
              %br
              ピエトラカルダ/フェウディ　サン　グレゴリオ
            %br
            %span.menu-description カンパーニャのトップワイナリー。熟した果実やヘーゼルナッツの香りに凝縮感が強い。フィアーノ種100％
          .pull-right
            %span.font-m.price 5200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Capital Croce 2008 / Anselmi
              %br
              キャピタル　クローチェ/アンセルミ　　　　
            %br
            %span.menu-description ハーブ系とトロピカルフルーツを思わせる香りが広がり、濃密さとミネラルを兼ね備える。
          .pull-right
            %span.font-m.price 5500yen
          .clear

      .menu-detail-wrap
        %h3.title
          California
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Déjà vu Chardonnay 2008 / Hahn Winery
              %br
              デジャビュ　シャルドネ/ハーン　ファミリー　ワイナリー
            %br
            %span.menu-description 冷涼な産地で生み出されるシャルドネは引き締まった酸と美しい余韻を持つ。
          .pull-right
            %span.font-m.price 3600yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Coppola Dilecter's cut Chardonnay 2011
              %br
              コッポラ　ディレクターズカット　シャルドネ
            %br
            %span.menu-description 映画界の巨匠が造る映画のフィルムをイメージした実力派ワイン。
          .pull-right
            %span.font-m.price 5200yen
          .clear

      .menu-detail-wrap
        %h2.red-img-title
          =image_tag "title-vinrose-noborder.png", class: "title-vinrose-noborder align-center", alt: "Vin Rosé"
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Candeline Côte de Provence Rosé 2012
              %br
              カンドリンヌ　プロヴァンス　ロゼ
            %br
            %span.menu-description 淡い桜色のロゼ。柔らかくフルーティで、繊細な果実味を持つ。
          .pull-right
            %span.font-m.price 2800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chataeu Cransac Fronton Traditon Rosé　2012
              %br
              シャトー　クランサック　フロントン　トラディション　ロゼ
            %br
            %span.menu-description コンクールで多くの受賞歴を持ち、バランス良く上品な味わい。
          .pull-right
            %span.font-m.price 3300yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Côt Rosé 2008 / Domaine des bois Lucas
              %br
              コット　ロゼ/ドメーヌ　デ　ボア　ルカ
            %br
            %span.menu-description チェリーやグロゼイユのアロマがふんだんに感じ取れるビオロジック。
          .pull-right
            %span.font-m.price 3900yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Petit Bourgeois Rosé de Pinot Noir　2012
              %br
              プティ　ブルジョワ　ロゼ　ピノ・ノワール
            %br
            %span.menu-description フランボワーズや熟したチェリーの香り。サラダやハムを使った前菜と合わせたい。
          .pull-right
            %span.font-m.price 4400yen
          .clear

      .menu-detail-wrap
        %h2.red-img-title
          =image_tag "title-vinrouges-noborder.png", class: "title-vinrouges-noborder align-center", alt: "Vin Rouges"
        %h3.title
          Languedoc/Roussillon, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Fougere 2011 / Domaine Coudougne
              %br
              フォジェール/ドメーヌ　クドニュ
            %br
            %span.menu-description ブルーベリーやカシスを思わせる滑らかで柔らかい味わい。
          .pull-right
            %span.font-m.price 2800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Merlot 2010 / Alain Paret
              %br
              メルロー/アラン　パレ
            %br
            %span.menu-description アラン・デュカスも惚れ込むアラン・パレの特別に仕込まれたメルロー。
          .pull-right
            %span.font-m.price 3500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Grand Red 2011/ Mas Baux
              %br
              グラン　レッド/マス　ボー
            %br
            %span.menu-description 熟したフルーツに、豊かなプルーンに滑らかな口当たりと、スパイシーな余韻が特徴。
          .pull-right
            %span.font-m.price 3800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Minervois 2010 / Château de Rieux
              %br
              ミネルヴォワ/シャトー　ド　リュ―
            %br
            %span.menu-description 骨格のしっかりした、熟成を経て旨みを増していく。
          .pull-right
            %span.font-m.price 4600yen
          .clear

      .menu-detail-wrap
        %h3.title
          Côte du Rhone, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Côte du Rhone Rouge Laurent Brusset 2011 / Domaine Brusset
              %br
              コート　デュ　ローヌ　ルージュ　ローラン　ブリュッセ/ドメーヌ　ブリュッセ
            %br
            %span.menu-description 明るいルビー色。フランボワーズなどの果実の風味に富み、軽やかな味わい。
          .pull-right
            %span.font-m.price 3300yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Crozes Hermitage Les Pierrelles 2010 / Domaine Belle
              %br
              クローズ　エルミタージュ　レ　ピエレル / ドメーヌ　ベル
            %br
            %span.menu-description 程よく熟したブラックチェリー、カシスのパワフルな果実味と、ハーブや胡椒の風味が調和している。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Gigondas tradittion 2010 / LE GRANDE MONTMIRAIL
              %br
              ジゴンダス　トラディション / ル　グラン　モンミライユ
            %br
            %span.menu-description 凝縮感が強く、果実味あふれるフルボディ。
          .pull-right
            %span.font-m.price 5200yen
          .clear

      .menu-detail-wrap
        %h3.title
          Sud-Ouest, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Cahors 2010 / Chateau Lamartine
              %br
              カオール/シャトー　ラマルティーヌ
            %br
            %span.menu-description 赤い果実の芳醇な香りと温かみのある木のニュアンス。若々しい果実味と心地よい収斂性がある。
          .pull-right
            %span.font-m.price 4200yen
          .clear

      .menu-detail-wrap
        %h3.title
          Bourgogne, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Bourgogne 2011 / Joseph Drouhin
              %br
              ブルゴーニュ/ジョセフ　ドルーアン
            %br
            %span.menu-description 伝統を守りながらのネゴシアン。繊細さと優雅さを持つ。
          .pull-right
            %span.font-m.price 4500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Bourgogne Rouge 2011 / Henri Boillot
              %br
              ブルゴーニュ　ルージュ/アンリ　ボワイヨ
            %br
            %span.menu-description 香りは華やかさを増し、透明感のある果実味がどんどん濃く、深い味わいになっていく。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Rully Les Chauchoux 2010 / Chateau Demessey
              %br
              リュリー　レ　ショシュ―/シャトー　ドメッセイ
            %br
            %span.menu-description ドメーヌがリュリーに所有するモノポール。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Marsannay Clos du Roy 2011 / Herve Charlopin
              %br
              マルサネ　クロ　デュ　ロワ/エルヴ　シャルロパン
            %br
            %span.menu-description コート・ド・ニュイ地区で随一のコストパフォーマンスの名高いマルサネ
          .pull-right
            %span.font-m.price 5200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Bourgogne Pinot Noir 2009 / Domaine Ramonet
              %br
              ブルゴーニュ　ピノ　ノワール/ドメーヌ　ラモネ
            %br
            %span.menu-description 上品なベリー系の果実味。キレの良い酸。エレガントに力強さも兼ね備える。
          .pull-right
            %span.font-m.price 8200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Gevrey Chambertin 2010 / Domaine François Leclerc
              %br
              ジュブレイ　シャンベルタン/ドメーヌ　フランソワ　ルクレール
            %br
            %span.menu-description 熟したフレーズのようなアロマ。きめ細やかで優しい果実味
          .pull-right
            %span.font-m.price 7800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Volney 2009 / Comte Armand
              %br
              ヴォルネイ/コント　アルマン
            %br
            %span.menu-description 偉大な造り手として大注目を浴びる、天才醸造家の最高峰。
          .pull-right
            %span.font-m.price 8800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Nuist Saint Georges 2006 / Domaine Robert Arnoux
              %br
              ニュイ　サン　ジョルジュ/ドメーヌ　ロベール　アルヌー
            %br
            %span.menu-description ひと回り小さなロマネ・コンティと評されるロベール・アルヌー。飲み頃を迎えた2006年は絶品。
          .pull-right
            %span.font-m.price 9800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Morey Saint Donis 2008 / Dujac
              %br
              モレ　サン　ドニ/デュジャック
            %br
            %span.menu-description 強すぎることのない果実味とエレガントの中にも複雑さを合わせ持つ味わい。若くから楽しめる。
          .pull-right
            %span.font-m.price 11000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Morey Saint Donis 2010 / Philippe et Vincent Lecheneaut
              %br
              モレ　サン　ドニ/フィリップ　エ　ヴァンサン　レシュノー
            %br
            %span.menu-description 果実味の香りが気高く、凝縮した旨みと風味豊かな上品なスタイル
          .pull-right
            %span.font-m.price 12000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Vosne Romanee 2009 / Arnoux Lachaux
              %br
              ヴォーヌ　ロマネ/アルヌー　ラショー
            %br
            %span.menu-description 果実のみずみずしさと繊細さ、力強さを兼ね備えたスタイル。
          .pull-right
            %span.font-m.price 13800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Nuist Saint Georges 1er Cru 2007 / Clos de la Maréchalé
              %br
              ニュイ　サン　ジョルジュ　プルミエ　クリュ/クロ　ド　ラ　マレシャレ
            %br
            %span.menu-description しなやかでエレガント。ラズベリーの果実味に心地よいタンニン。
          .pull-right
            %span.font-m.price 15200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Echezeaux 2002 / Mongeard Mugneret
              %br
              エシェゾー/モンジャール　ミュニュレ
          .pull-right
            %span.font-m.price 24000yen
          .clear

      .menu-detail-wrap
        %h3.title
          Bordeaux, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Le Colombey 2008 
              %br
              ル　コロンベイ
            %br
            %span.menu-description 深いガーネット色に赤いフルーツとスパイスの香り。フルーティでバランス良く、優しい味わい。
          .pull-right
            %span.font-m.price 3400yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau du Bousquet 2011
              %br
              シャトー　デュ　ブスケ
            %br
            %span.menu-description カシスやハーブ、黒胡椒の中にかすかなキャラメルの香り。軽めのお肉料理と。
          .pull-right
            %span.font-m.price 4200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau beaumont 2008
              %br
              シャトー　ボーモン
            %br
            %span.menu-description 心地よい樽香にバニラやカカオのニュアンス。力強い味わいのフルボディ。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau Puygueraud 2009
              %br
              シャトー　ピュイグロー
            %br
            %span.menu-description 濃い紫色にチェリーやプラムの優しい香り。程よいタンニンを優しい果実味が包み込む。
          .pull-right
            %span.font-m.price 5500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau Camensac 2007
              %br
              シャトー　カマンサック
            %br
            %span.menu-description 生き生きとした果実味にタンニンも程よく、まとまりのある味わい。
          .pull-right
            %span.font-m.price 7200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau Gloria 2004
              %br
              シャトー　グロリア
            %br
            %span.menu-description コーヒーや濃いめの紅茶の様なアロマ。魚料理から、チョコレートまで幅広く合わせやすい。
          .pull-right
            %span.font-m.price 7900yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau Clerc Milon 2007
              %br
              シャトー　クレール　ミロン
            %br
            %span.menu-description ラフィットとムートンに隣接した畑で造られる。若いうちからも楽しめる。
          .pull-right
            %span.font-m.price 9200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau Sociando Mallet 2006
              %br
              シャトー　ソシアンド　マレ
            %br
            %span.menu-description 素晴らしいアロマに力強さと濃厚さが溶け込んだ味わい。
          .pull-right
            %span.font-m.price 9800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau Giscours 2007
              %br
              シャトー　ジスクール
            %br
            %span.menu-description メドック各付け3級。最上のテロワールから生まれるワインは高い評価を維持し続けている。
          .pull-right
            %span.font-m.price 13000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau La Tour Carnet 2007
              %br
              シャトー　ラ　トゥール　カルネ
            %br
            %span.menu-description 深みのある濃いブラックにしかっりとした骨格を持つ。
          .pull-right
            %span.font-m.price 13000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau Gruaud Larose 2007
              %br
              シャトー　グリュオー　ラローズ
            %br
            %span.menu-description ポイヤックの様な重厚さとマルゴーの様なフィネスを持ち合わせた、調和のとれた落ち着いた品格。
          .pull-right
            %span.font-m.price 15000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Chateau Puygueraud 2009
              %br
              シャトー　ピュイグロー
            %br
            %span.menu-description 濃い紫色にチェリーやプラムの優しい香り。程よいタンニンを優しい果実味が包み込む。
          .pull-right
            %span.font-m.price 5500yen
          .clear

      .menu-detail-wrap
        %h3.title
          Beaujolais, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Beaujolais Villages 2005 / Jean Claude Lapalu
              %br
              ボジョレー　ヴィラージュ/ジャン　クロード　ラパリュ
            %br
            %span.menu-description 上質のブルゴーニュを思わせる複雑さを持ち、ボジョレーを超越した味わい。
          .pull-right
            %span.font-m.price 4200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Brouilly La Croix des Rameaux 2005 / Jean Claude Lapalu
              %br
              ブルイィ　ラ　クロワ　デ　ラモー/ジャン　クロード　ラパリュ
            %br
            %span.menu-description 凝縮感が強く、果実味あふれるフルボディ。
          .pull-right
            %span.font-m.price 6800yen
          .clear

      .menu-detail-wrap
        %h3.title
          Loire, France
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Sancerre MAGNUM 2000 / Henri Bourgeois
              %br
              サンセール　マグナム/アンリ　ブルジョワ
            %br
            %span.menu-description ロワールの第一人者のアンリ・ブルジョワが手掛ける赤
          .pull-right
            %span.font-m.price 10000yen
          .clear

      .menu-detail-wrap
        %h3.title
          Spain
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Lagunilla Gran Reserva 2002    
              %br
              ラグニーリャ　グラン　レゼルバ
            %br
            %span.menu-description ふくよかな酸味と甘み。たっぷりの果実味の奥にバニラやスパイスのニュアンス。
          .pull-right
            %span.font-m.price 4200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Vina Diezmo Crianza 1996
              %br
              ヴィーニャ　ディエズモ　クリアンサ
            %br
            %span.menu-description 赤褐色に優しくスパイシーな香り。口の中に柔らかいタンニンが広がる。
          .pull-right
            %span.font-m.price 4800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Vina Diezmo Reserva 1994
              %br
              ヴィーニャ　ディエズモ　レゼルバ
            %br
            %span.menu-description クリアな赤紫色にスムーズな飲み口。クラシックなリオハ好きにはおススメ。
          .pull-right
            %span.font-m.price 8000yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Numanthia 2003
              %br
              ヌマンシア
            %br
            %span.menu-description '03はPP96点獲得のスーパースパニッシュ。抜栓直後よりあふれる果実味と存在感は圧巻。
          .pull-right
            %span.font-m.price 12800yen
          .clear

      .menu-detail-wrap
        %h3.title
          New Zealand
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Pinot Noir 2009 / Grey Wacke
              %br
              ピノ・ノワール/グレイ　ワッキ
            %br
            %span.menu-description クラウディ・ベイでケヴィン・ジェッド氏が2009年初リリースのブランド
          .pull-right
            %span.font-m.price 5500yen
          .clear

      .menu-detail-wrap
        %h3.title
          California
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Déjà vu Cabernet Sauvignon 2008 / Hahn Winery
              %br
              デジャビュ　カベルネソーヴィニヨン/ハーン　ファミリー　ワイナリー
            %br
            %span.menu-description 飲みごたえのあるカベルネ。
          .pull-right
            %span.font-m.price 3800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Merlot Napa Valley 2010 / Clos du val
              %br
              メルロー　ナパ・ヴァレー/クロ　デュ　ヴァル
            %br
            %span.menu-description 深いプラム色のフルボディ。ダークチョコやスパイスのニュアンスにシルキーな余韻が長く感じる。
          .pull-right
            %span.font-m.price 7200yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Ryan Pinot Noir 2004 / Calera
              %br
              ライアン　ピノ・ノワール/カレラ
            %br
            %span.menu-description 単一畑。味わいも濃く、果実味も豊富なピノ。
          .pull-right
            %span.font-m.price 9800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Maboroshi Cabernet Sauvignon Napa Valley / 幻
              %br
              幻　カベルネ　ソーヴィニヨン　ナパ・ヴァレー
            %br
            %span.menu-description 日本人醸造家の私市氏が手がける濃厚かつ芳醇で、飲む人を魅了するワイン。
          .pull-right
            %span.font-m.price 14000yen
          .clear

      .menu-detail-wrap
        %h3.title
          Chile
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Ventisquero Reserva Pinot Noir 2006
              %br
              ヴェンティスケーロ　レゼルバ　ピノ・ノワール
            %br
            %span.menu-description バラの様な華やかな香りとバニラの甘いニュアンス。濃厚な果実味と穏やかなタンニンが心地よい。
          .pull-right
            %span.font-m.price 3800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Almaviva 2008
              %br
              アルマヴィーヴァ
            %br
            %span.menu-description コンチャ・イ・トロ社とバロン・フィリップ・ド・ロートシルトにより生産された超プレミアムチリワイン。
          .pull-right
            %span.font-m.price 16200yen
          .clear

      .menu-detail-wrap
        %h3.title
          Italy
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Le Difese 2004 / Tenuta san guide
              %br
              レ　ディフェーゼ/テヌータ　サン　グイド
            %br
            %span.menu-description カベルネとサンジョベーゼのブレンド。サッシカイアが手がけるトスカーナテイストワイン。
          .pull-right
            %span.font-m.price 8500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Mammolo / Cennatoio
              %br
              マンモロ/チェンナトイオ
            %br
            %span.menu-description トスカーナでは珍しいメルローの単一。ポテンシャルが高く長期熟成でさらに引き出される。
          .pull-right
            %span.font-m.price 9800yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Canaiolo / BB Gratz
              %br
              カナイオーロ/BB　グラーツ
            %br
            %span.menu-description 毎年リリースはされず、カナイオーロは補助品種とされていたが、グラーツがカナイオーロ100％のワインを作ったことで魅力的な品種とされた。
          .pull-right
            %span.font-m.price 14500yen
          .clear
        .menu-detail-unit
          .pull-left
            %strong.font-m.menu-title
              Testamatta / BB Gratz
              %br
              テスタマッタ/BB　グラーツ
            %br
            %span.menu-description トスカーナを代表する1本。
          .pull-right
            %span.font-m.price 16800yen
          .clear

  .container_12
    .grid_4
      %a.btn.btn-red.no-deco(href="/tmp/menu-lunch")
        %span.arw ランチメニューはこちら
    .grid_4
      %a.btn.btn-red.no-deco(href="/tmp/menu-diner")
        %span.arw ディナーメニューはこちら
    .grid_4
      %a.btn.btn-red.no-deco(href="/tmp/menu-drink")
        %span.arw ドリンクメニューはこちら

  =image_tag "img-pontneuf.png", class: "img-pontneuf"

  %a.totop.no-deco(href="#")
    %strong.font-m このページのトップへ