=form_for inquiry, as: :inquiry, url: request.path do |f|
  - if inquiry.errors.any?
    #error_explanation
      - inquiry.errors.full_messages.each do |msg|
        %span.alert-msg
          %i.icon-remove-sign
          = msg

  =f.fields_for :content, inquiry.content do |content_f|
    -inquiry.content.cols.each do |col|
      .field-box
        =content_f.label col.label
        .col-md-7
          =render partial: "gnoibox/columns/#{col.partial_name}", locals: {f: content_f, col: col, item: inquiry}

  %br

  .actions
    = f.submit 'Save', class: 'btn-flat'
