body.gnoibox{
  
  .table-wrapper, .form-page{
    .row.head{
      margin-bottom: 10px;
    }
  }

  label.required::after{
    padding-left: 5px;
    content: "*";
    color: red;
  }

  .gn-freetag{
    padding: 0;
    border: none;
  }

  #sidebar-nav #dashboard-menu > li .parentmenu {
    border-bottom: 0px;
    box-shadow: none;
  }

  #sidebar-nav #dashboard-menu .submenu a{
    color: rgb(110, 130, 155);
  }
}
